<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | All Nails</title>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3b32866f90.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .navbar {
            position: fixed;
            width: 100%;
            height: 70px;
            z-index: 1000;
        }
        .navbar-light-pink {
            min-height: 50px;
            line-height: 50px;
            background-color: #FFD1DC;
        }
        .navbar-light-pink .navbar-nav .nav-link {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-light-pink .navbar-toggler-icon {
            background-color: #333f !important;
        }
        .container {
            margin-top: 60px;
        }
        .basket-btn {
            background-color: transparent;
            border: none;
            padding: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-left: 20px;
        }
        .basket-icon {
            font-size: 1.2em;
            margin-right: 10px;
        }
        .dropdown.show .btn-secondary {
            background-color: transparent;
            color: #333;
        }
        .input-group-append {
            margin-right: 10px;
        }
        .btn-outline-success:hover {
            color: #495057;
            background-color: #e9ecef;
            border-color: #e9ecef;
        }
        .btn-outline-success {
            border-color: #333f;
            color: #333f;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-light-pink">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/catalogue">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/booking">Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team">Our team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products">Admin Portal</a>
                  </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </div>
        </form>
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <% if (loginUsername) { %>
                    Hello, <%= loginUsername %>
                <% } else { %>
                    Hello, sign in
                <% } %>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <% if (loginUsername) { %>
                    <a class="dropdown-item" href="/logout">Logout</a>
                <% } else { %>
                    <a class="dropdown-item" href="/login">Sign in</a>
                <% } %>
            </div>
        </div>
        <div class="basket">
            <button class="basket-btn" onclick="goToBasket()">
                <span class="basket-icon">&#x1F6D2;</span>
                Basket
            </button>
        </div>
    </nav>
    <main>
        <div class="contact_page_mobile">
            <div class="contact-form-outer">
                <div class="contact-form-inner">
                    <h1>Contact Us</h1>
                    <form method="post" action="/contact" id="contact-form">
                        <input type="text" name="fullname" placeholder="Enter name" id="fullname" required>
                        <input type="text" name="email" placeholder="Enter email" id="email" required>
                        <textarea name="description" placeholder="Fill in description" id="description" required></textarea>
                        <input type="submit" value="Submit">
                        <p id="fullname-error" style="display: none; color: #ff3333;"></p>
                        <p id="email-error" style="display: none; color: #ff3333;"></p>
                        <p id="description-error" style="display: none; color: #ff3333;"></p>
                    </form>
                    <div class="social_channel">
                        <h2>Follow us on Social Media</h2>
                        <a href="https://www.instagram.com/allnailsstudio" target="_blank">
                            <i class="fab fa-instagram social_icon" id="ig_icon"></i>
                        </a>
                        <a href="https://api.whatsapp.com/send?phone=353831115636" target="_blank">
                            <i class="fab fa-whatsapp" id="whatsapp_icon"></i>
                        </a>
                    </div>
                    <div class="contact_info">
                        <i class="fas fa-map-marker-alt" id="location_icon"></i>
                        <span>5-7 O'Connell Street Upper - Dublin, D01 P5P5</span>
                        <i class="fas fa-phone-alt" id="phone_icon"></i>
                        <span>083 111 5636</span>
                    </div>
                </div>
                <div class="image-contact">
                    <img src="/images/opening_hours_allnails.png" alt="Picture showing business opening hours which is Tuesday to Friday from 10am to 8pm. Saturday from 9am to 5pm. And Closed on Sundays">
                </div>
            </div>
        </div>
    </main>
    <iframe id="google-maps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9526.465675183032!2d-6.2601607!3d53.3501223!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670f1c36aebf31%3A0x709ca5de61b4838d!2sAll%20Nails%20Studio!5e0!3m2!1sen!2sie!4v1685289666385!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <footer>
        <ul class="footer-buttons">
            <li><a href="/about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
        <div class="copyrights">&copy; 2023 All rights reserved by All Nails | Nail Studio</div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script>
        function goToBasket() {
            window.location.href = "/basket";
        }
    </script>
    <script>
        $('#contact-form').submit(function(event) {
            event.preventDefault();
            var formData = $(this).serialize();
            $.post('/contact', formData, function(response) {
                alert('Form submitted successfully');
                window.location.href = '/';
            }).fail(function() {
                alert('Error submitting form. Please try again.');
            });
        });
    </script>
</body>
</html>
