<!DOCTYPE html>
<html lang="en">
<head>
   <title>Login| All Nails Studio</title>
		<meta charset="utf-8">
		<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="nail salon, Dublin, nail extensions, gel nails, nail design, manicure, pedicure, nails studio">
		<link rel="icon" type="image/png" href="/images/favicon-32x32.png">
     <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>

    <style>
          
			body {
			  margin: 0;
			  padding: 0;
			  box-sizing: border-box;
			  display: flex;
			  flex-direction: column;
			  min-height: 100vh;
			}
		  
			.navbar {
			  position: fixed;
			  width: 100%;
			  height: 70px;
			  z-index: 1000;
			}
		  
			.navbar-light-pink {
			  min-height: 50px; /* Adjust the height as needed */
			  line-height: 50px; /* Adjust the line height as needed */
			  background-color: #FFD1DC; /* Light pink color */
			}
		  
			.navbar-light-pink .navbar-nav .nav-link {
			  padding-top: 10px; /* Adjust the padding as needed */
			  padding-bottom: 10px; /* Adjust the padding as needed */
			}
		  
			.navbar-light-pink .navbar-toggler-icon {
			  background-color: #333f !important;
			}
		  
			.container {
			  margin-top: 60px; /* Adjust the margin-top to accommodate the fixed navbar */
			}
		  
			.basket-btn {
			  background-color: transparent;
			  border: none;
			  padding: 8px;
			  cursor: pointer;
			  display: flex;
			  align-items: center;
			  margin-left: 20px;
			}
		  
			.basket-icon {
			  font-size: 1.2em;
			  margin-right: 10px;
			}
		  
			.dropdown.show .btn-secondary {
			  background-color: transparent;
			  color: #333;
			}
		  
			.input-group-append {
			  margin-right: 10px;
			}
		  
			.btn-outline-success:hover {
			  color: #495057;
			  background-color: #e9ecef;
			  border-color: #e9ecef;
			}
		  
			.btn-outline-success {
			  border-color: #333f;
			  color: #333f;
			}
      .container {
       margin-top: 100px; 
 
     }
      
</style>
  

                 
                

            
        




</head>
<body>
    
    
          <nav class="navbar navbar-expand-lg navbar-light navbar-light-pink">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/catalogue">Shop</a>
                </li>
            
                 <li class="nav-item">
                  <a class="nav-link" href="/booking">Booking</a>
                </li>
                    <li class="nav-item">
                  <a class="nav-link" href="/team">Our team</a>
                </li>
                  
        <% if (loginUsername && loginUserRole === 'admin') { %>
          <li><a href="/admin/products">Admin Portal</a></li>
      <% } %>
              </ul>
            </div>
        
            <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
              <div class="input-group">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query">
                <div class="input-group-append">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
              </div>
            </form>
            <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello, sign in
              </a>
        
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/login">Sign in</a>
                <a class="dropdown-item" href="/logout">logout</a>
                
              </div>
            </div>
        
            <div class="basket">
              <button class="basket-btn">
                <span class="basket-icon">&#x1F6D2;</span> <!-- FontAwesome basket icon -->
                Basket
              </button>
            </div>
          </nav>
      
        



        <div class="container">
          

           <% if (registrationSuccess) { %>
               <h2>You have successfully registered.Please sign in.</h2>
          <% } else { %>
               <h2>Welcome to All Nails Studio.Please join us </h2>
          <% } %>
        
            <div class="tab">
                <button onclick="changeForm('register')">Join</button>
                <button onclick="changeForm('login')">Sign In</button>
            </div>
        
            <!-- Registration Form -->
            <div id="registerForm" class="form-section active">
                <form  action="/saveData" method="POST" onsubmit="return validateForm()">

                    <label for="registerUsername">Username:</label>
                    <input type="text" id="registerUsername" name="registerUsername">
                    <small class="error-message" id="errorUsername"></small>

                    <label for="registerEmail">Email:</label>
                    <input type="text" id="registerEmail" name="registerEmail">
                    <small class="error-message" id="errorEmail"></small>

                    <label for="registerPassword">Password:</label>
                    <input type="password" id="registerPassword" name="registerPassword">
                    <small class="error-message" id="errorPassword"></small>
                    
                    <label for="registerConfirmPassword">Confirm Password:</label>
                    <input type="password" id="registerConfirmPassword" name="registerConfirmPassword">
                    <small class="error-message" id="errorConfirmPassword"></small>
                    
                    <label for="number">Phone number :</label>
                    <input type="text" id="number" name="phone" placeholder="">
                    <small class="error-message" id="errorPhoneNumber"></small>

                    <label for="registerGender">Gender:</label>
                    <select id="registerGender" name="registerGender">
                        <option value=""></option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <small class="error-message" id="errorGender"></small>
                    
                    <label for="registerDob">Date of Birth:</label>
                    <input type="date" id="registerDob" name="registerDob" >
                    <small class="error-message" id="errorDob"></small><br><br>

                    <input type="submit" value="Join">
                    <small class="error-message" id="errorAllFields"></small>
                </form>
            </div>
                    
                   
             
                  

            <!-- Login Form -->
            <div id="loginForm" class="form-section">
                <form name="loginForm" action="/login" method="POST" onsubmit="return validateLoginForm()">

                    <label for="loginUsername">Username:</label>
                    <input type="text" id="loginUsername" name="loginUsername">
                    <small class="error-message" id="errorLoginUsername"></small>

                    <label for="loginEmail">Email:</label>
                    <input type="text" id="loginEmail" name="loginEmail">
                    <p class="error-message" id="errorLoginEmail"></p>

                    <label for="loginPassword">Password:</label>
                    <input type="password" id="loginPassword" name="loginPassword" >
                    <p class="error-message" id="errorLoginPassword"></p>
                    
                    <input type="submit" value="Sign In">

                </form>
                <p>Forgot your password? <a href="/forgotPassword">Reset it here</a></p>
            </div>

        </div>
     




<footer>
	<ul class="footer-buttons">
		<a href="/about">
		<li>About</li>
		</a>
		<a href="/contact">
		<li>Contact</li>
		</a>
		</ul> 
    <div class="copyrights">&copy; 2023 All rights reserved by All Nails | Nail Studio</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>

</body>

</html>