@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

*{margin: 0}

html, body{height: 100%}

#wrapper{
	float: left; 
	width: 100%; 
	min-height: 100%; 
	padding-bottom: 120px; 
	box-sizing: border-box; 
}

header{
	float: left;
	width: 100%;
	height: auto;
	background: #ffe6ea;
}

footer {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  height: auto;
}

.footer-buttons {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.footer-buttons a {
  text-decoration: none;
  color: #006400;
  margin: 5px;
}

.footer-buttons a:hover {
  text-decoration: underline;
}

.footer-buttons ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.footer-buttons ul:hover {
  cursor: pointer;
}

.footer-buttons li {
  display: inline;
  margin: 5px;
}

.copyrights {
  font-size: 14px;
  color: #888;
}

h1{
	padding-top: 50px;
	padding-bottom: 10px;
	color: green;
}
#banner {
	display: block;
	width:100%;
	height:auto;
	margin: auto;
	border-radius: 10px;

}
@media (max-width: 600px) {
  .welcome-message .call-to-action{
  text-align: center;
  width: 200px;
 }
}
main {
  text-align: center;
}

.welcome-message {
  margin-top: 50px;
}

.welcome-message h1 {
  font-size: 42px;
}

.welcome-message p{
	font-size: 30px;
	margin-bottom: 5px;
}

.home-section1 {
  margin-top: 50px;
}

.home-section1 h3 {
  font-size: 24px;
}

.home-section1 p {
  margin-top: 20px;
  font-size: 20px;
}

.call-to-action {
  margin-top: 50px;
  cursor: pointer;
}

.call-to-action h2 {
  font-size: 24px;
}

.call-to-action p {
  margin-top: 20px;
  font-size: 20px;
}

.call-to-action .cta-button:hover {
    background: #d8bc79; 
    color: #000000 bold; 
    font-weight: bold;
}


.cta-button {
  padding: 20px 20px;
  background: #dfc991;
  color: #006400;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}

.gallery {
  margin-top: 50px;
}

.gallery img {
  width: 300px;
  height: 350px;
  margin: 10px;
}

/* Updated NAV bar*/
.navbar {
    position: fixed;
    width: 100%;
    height: 70px; /* Set your desired height */
    z-index: 1000;
  }
  
.navbar-light-pink {
	background-color: #FFD1DC; /* Light pink color */
  }

  .basket-btn {
	background-color: transparent; /* Remove background color */
	border: none;
	padding: 8px;
	cursor: pointer;
	display: flex;
	align-items: center;
	margin-left: 20px; /* Increase the distance from the dropdown */
  }

  .basket-icon {
	font-size: 1.2em;
	margin-right: 10px;
  }

  .dropdown.show .btn-secondary {
	background-color: transparent; /* Remove background color */
	color: #333;
  }

  /* Add margin to the right of the search button */
  .input-group-append {
	margin-right: 10px;
  }

  /* Change search button color on hover to gray */
  .btn-outline-success:hover {
	color: #495057;
	background-color: #e9ecef;
	border-color: #e9ecef;
  }
  
  .btn-outline-success {
  border-color: #333f;
  color: #333f;
  }

/* NAV LINKS 

ul.nav-links{
	float: right !important;
	margin-right: 40px !important;
}
li.nav-link-buttons{
	display: inline !important;
	list-style-type: none !important;
	float: left !important;
	width: 100px !important;
	height: 43px !important;
	margin-left: 5px !important;
	font-size: 18px !important;
	padding-top: 17px !important;
	text-align: center !important;
}
a:link li.nav-link-buttons{
	background: #dfc991 !important;
	color: #006400 !important;
}
a:visited li.nav-link-buttons{
	background: #d8bc79 !important;
	color: #006400 !important;
}
a:hover li.nav-link-buttons{
	background: #d8bc79 !important;
	color: #006400 !important;
}
a:active li.nav-link-buttons{
	background: #dfc991 !important;
	color: #006400 !important;
}
li.nav-link-active{
	display: inline !important;
	list-style-type: none !important;
	float: left !important;
	width: 100px !important;
	height: 43px !important;
	margin-left: 5px !important;
	font-size: 18px !important;
	padding-top: 17px !important;
	text-align: center !important;
	background: #dfc991 !important;
	color: #006400 !important;
}

.narrow-menu-outer{
	float: left !important;
	width: 100% !important;
	height: auto !important;
}
.narrow-menu{
	display: none !important;
	height: auto !important;
	width: 100% !important;
	margin: 0 auto !important;
}

@media only screen and (max-width: 600px){
	.narrow-menu{
		display: block;
	}
	.hide-nav{
		display: none;
	}
	ul.nav-links{
		width: 100%;
		margin: 0;
		display: none;
	}
	li.nav-link-buttons{
		width: 100%;
		margin-left: 0px;
	}
	span#narrow-menu-title{
		text-align: right;
		float: left;
		width: 100%;
		height: 50px;
		font-size: 18px;
		padding-top:  17px;
		padding-right: 30px;
		font-weight: bolder;
		box-sizing: border-box;
		cursor: pointer;
	}
} */

/* CONTACT FORM  and contact page*/

.contact-form-outer{
	float: left;
	width: 100%;
	height: 800px;
}
.contact-form-inner{
	float: right;
	width: 45%;
	height: 800px;
	margin: 0 auto;
	padding-right: 70px;
}
.contact-form-inner input{
	width: 580px;
	height: 30px;
	margin: 10px 0px;
	display: inline;
	font-size: 15px;
	border-radius: 20px;
	border: 2px solid #dadada;
	font-family: 'Open Sans', sans-serif;
	padding-right: 100px;
}
.contact-form-inner textarea{
	width: 580px;
	height: 200px;
	margin: 10px 0px;
	display: block;
	font-size: 15px;
	border-radius: 20px;
	border: 2px solid #dadada;
	font-family: 'Open Sans', sans-serif;
	padding-right: 100px;
}
.contact-form-inner input[type=submit]{
	width: 100px;
	height: 50px;
	margin: auto;
	font-size: 20px;
  border-radius: 20px;
	background: #dfc991;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #006400;
}
.contact-form-inner input[type=submit]:hover{
	text-decoration: underline;
}

p#error-list{
	display: none;
}

#google-maps {
	float: left;
	width: 100%;
	height: 600px;
	margin-bottom: 150px 0px auto;
	display: block;
}

.image-contact {
	float: left;
	width: 45%;
	height: 900px;
	margin: 0 auto;
	padding-right: 70px;
}

.image-contact img{
	float: left;
	width: 100%;
	margin-top: 50px;
	border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    margin-left: 20px;
}

#ig_icon {
	margin-top: 80px;
	font-size: 50px;
	cursor: pointer;
	color: #E4405F; 
	float: left;
	display: block;
	position: absolute;
}

#whatsapp_icon{
	margin-top: 80px;
	font-size: 50px;
	cursor: pointer;
	color: #25D366;
	float: right;
	display: block;
	position: absolute;
	margin-left: 80px;
}

.contact_info {
	position: absolute;
	top: 800px;
	left: 100px;
	width: 1000px;
	font-size: 30px;
	text-align: left;
}

#location_icon {
	font-size: 50px;
	margin-right: 15px;
	margin-top: 50px;
}

#phone_icon {
	font-size: 50px;
	margin-right: 15px;
	margin-left: 50px;
}


.social_channel h2{
	float: left;
	font-size: 30px;
	margin-top: 20px;
}

@media (max-width: 500px) {
  .contact-form-outer, 
  .contact-form-inner,
  input{
  	width: 100%;
  	max-width: 230px;
  	float: left;
  	position: relative;
  	margin: 5px;
  	margin-top: auto;
  	height: auto;
  }
  .contact-form-inner textarea{
  	margin-top: 80px;
  	width: 100%;
  	max-width: 250px;
}
#location_icon,
.contact_info,
.image-contact img{
	display: none;

}
#ig_icon,
#whatsapp_icon {
	margin-top: 180px;
	margin-left: 90px;
	float: left;
}
#whatsapp_icon {
	margin-left: 150px;
}
#google-maps {
	float: left;
	width: 100%;
	display: block;
	margin-top: 280px;
}
.social_channel h2{
	float: left;
/*	font-size: 24px;*/
  margin-left: 60px;
	margin-top: 40px;
	display: inline;
	text-align: center;
	margin-bottom: 0;
}
.contact_page_mobile{
	height: auto;
	width: 100%;
	float: left;
	max-width: 300px;
	max-height: 200px;
}
}

/* Booking page*/

#widget {
	width: 100%;
	height: 800px;
	position: relative;
	margin-bottom: 0px;
	display: inline;
} 

/*About page*/

.about_page_section {
  text-align: center;
  margin-bottom: 30px;
}

.about_page_section h1 {
  font-size: 40px;
}

.about_page_section p {
  font-size: 18px;
  line-height: 1.5;
}

#about_alana {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
}

.video_about_page {
  text-align: center;
}

.video_about_page h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.video_about_page video {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

/*Service page*/
.service-page {
  width: 100%;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.service-card {
  background-color: #f7f7f7;
  width: 600px;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  float: left;
  clear: both;

}

.service-card p {
  font-size: 18px;
  color: #777;
  margin-top: 5px;
}
.service-card li{
	margin-top: 15px;
	font-size: 20px;
}

.service-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.video-service-page video{
	width: 600px;
	height: 710px;
	margin-left: 100px;
	border-radius: 10px;
}
 .video-service-page h2{
	margin-left: 180px;
	margin-bottom: 30px;
    float: left;
 }

@media (max-width: 600px) {
  .service-page {
  text-align: center;
  margin-left: -40px;
  }

  .service-card {
    width: 100%;
    max-width: 300px;
    position: relative;
    margin: 45px;
    margin-top: 5px;
  }

  .video-service-page video {
    width: 100%;
    max-width: 300px;
    position: relative;
    margin: 30px;
    margin-top: 0;
    border-radius: 10px;
  }

  .video-service-page h2 {
    margin-left: 0;
    margin-right: 55px;
    margin-top: 0px;
    float: left;
    text-align: center;
    margin-bottom: 5px;
  }
}

/*Team page*/

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.team-member img {
  border-radius: 10px;
  width: 480px;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.team-member .member-info {
  margin: 0 20px;
}

.team-member h2,
.team-member p {
  margin: 0;
}
